Code/FPVentures/.vs/
Code/FPVentures/PestRoutesTest/bin/
Code/FPVentures/PestRoutesTest/obj/
Code/FPVentures/UpdateDispositions/obj/
Code/FPVentures/ZohoGoogleSheetsIntegration/bin/
Code/FPVentures/ZohoGoogleSheetsIntegration/obj/
Code/PestRoutesTest/bin/
Code/PestRoutesTest/obj/
Code/UpdateDispositions/obj/
Code/ZohoGoogleSheetsIntegration/bin/
Code/ZohoGoogleSheetsIntegration/obj/
Code/FPVenturesZohoInventory/bin/
Code/FPVenturesZohoInventory/obj/
