Code/FPVentures/.vs/
Code/FPVentures/PestRoutesTest/bin/
Code/FPVentures/PestRoutesTest/obj/
Code/FPVentures/UpdateDispositions/obj/
Code/FPVentures/ZohoGoogleSheetsIntegration/bin/
Code/FPVentures/ZohoGoogleSheetsIntegration/obj/
Code/PestRoutesTest/bin/
Code/PestRoutesTest/obj/
Code/UpdateDispositions/obj/
Code/ZohoGoogleSheetsIntegration/bin/
Code/ZohoGoogleSheetsIntegration/obj/
Code/.vs/
Code/FPVenturesPestRouteDispositions/.gitignore
Code/HeyFlow/bin/
Code/HeyFlow/obj/
Code/HeyFlowIntegration/bin/
Code/HeyFlowIntegration/obj/
Code/HeyFlowTest/
Code/FPVenturesZohoInventory/obj/
Code/FPVenturesZohoInventory/bin/
Code/FPVenturesPestRouteDispositions/obj/
Code/UpdateDispositions/bin/
Code/FPVenturesHawx/bin/
Code/FPVenturesHawx/obj/
Code/FPVenturesPestRouteDispositions/bin/
Code/FPVenturesZohoInventorySalesOrder/bin/
Code/FPVenturesZohoInventorySalesOrder/obj/
Code/FPVenturesZohoInventoryPurchaseOrder/obj/
Code/DeleteUnAnsweredDispositionsFromZohoCRM/bin/
Code/DeleteUnAnsweredDispositionsFromZohoCRM/obj/
Code/ZohoInventoryPurchaseOrder/obj/
Code/FPVentureFacebookLeadsToHAWX/bin/
Code/FPVentureFacebookLeadsToHAWX/obj/
Code/FunctionApp1/obj/
