Code/FPVentures/.vs/
Code/FPVentures/PestRoutesTest/bin/
Code/FPVentures/PestRoutesTest/obj/
Code/FPVentures/UpdateDispositions/obj/
Code/FPVentures/ZohoGoogleSheetsIntegration/bin/
Code/FPVentures/ZohoGoogleSheetsIntegration/obj/
Code/PestRoutesTest/bin/
Code/PestRoutesTest/obj/
Code/UpdateDispositions/obj/
Code/ZohoGoogleSheetsIntegration/bin/
Code/ZohoGoogleSheetsIntegration/obj/
Code/.vs/FPVentures/DesignTimeBuild/.dtbcache.v2
Code/FPVenturesPestRouteDispositions/obj/
Code/FPVenturesZohoInventory/bin/
Code/FPVenturesZohoInventory/obj/
Code/HeyFlowIntegration/obj/
Code/HeyFlowTest/obj/
Code/.vs/FPVentures/v16/.suo
