<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ringba-zoho-crm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/41be30c4-1d86-4c58-9857-7711ded1e733/resourceGroups/rg-ringba/providers/Microsoft.Web/sites/ringba-zoho-crm</ResourceId>
    <UserName>$ringba-zoho-crm</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ringba-zoho-crm.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>